.management-form table tr td{
	padding:5px 20px 5px 0px;
	vertical-align:top;
}
.message{
	padding:5px;
	border:1px solid green;
}
.bottom-menue{
	margin-top:20px;
}
#mail-grid tr td{
	padding:2px 10px 2px 10px;
	border-top:1px solid black;
	border-left:1px solid black;
}
.lasttd{
	border-right:1px solid black;
}
